* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

:root {
  --c1: #f6511d;
  --c2: #ffb400;
  --c3: #00a6ed;
  --c4: #f0f0f0;
  --c5: #0f0f0f;
}

body {
  background-color: var(--c3);
}

.container {
  margin: 0px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 80%;
  height: 100vh;
  background-color: var(--c1);
  gap: 0.4rem;
}

.search-bar {
  width: 80%;
  background-color: var(--c1);
  padding-block: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
}

input {
  width: 100%;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  margin: 0.4rem 0%;
  font-size: 1.4rem;
  box-sizing: border-box;
  height: 3rem;
  border-style: none;
}

input:focus {
  border: none;
}

input:active {
  border: none;
}

button {
  background-color: var(--c3);
  color: var(--c4);
  font-size: 1.4rem;
  font-weight: 700;
  width: 12ch;
  border-style: none;
  border-radius: 16px;
  height: 3rem;
}

button:hover {
  transition: 250ms;
}

button:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

img {
  max-width: 100%;
  height: 70%;
}

h1 {
  color: white;
  font-size: 4rem;
}
